<?php
namespace {{ namespace }}\Controller;

use Nelmio\ApiDocBundle\Annotation\ApiDoc;
use FOS\RestBundle\Controller\FOSRestController;
use Psr\Log\LoggerInterface;
use Symfony\Component\DependencyInjection\ContainerInterface;

class {{ controllerName }}Controller extends FOSRestController
{
    /** @var string $url */
    private $url;

    /** @var \SoapClient $soapClient **/
    private $soapClient;

    /** @var LoggerInterface $logger **/
    private $logger;

    /**
     * @param string $url
     * @param LoggerInterface $logger
     * @param ContainerInterface $container
     */
    public function __construct($url, LoggerInterface $logger, ContainerInterface $container)
    {
        $this->url = $url;
        $this->logger = $logger;
        $this->container = $container;
    }

    /**
      * @return \SoapClient
      */
    private function getSoapClient()
    {
        if (is_null($this->soapClient)) {
            $this->soapClient = new \SoapClient($this->url);
        }

        return $this->soapClient;
    }

{% for function, parameters in functions %}
    /**
     * SOAP Function {{ function }}
     *
     * @ApiDoc()
     */
    public function get{{ function }}Action(
    {% for parameter in parameters %}
    ${{ parameter }}{{ loop.last ? '' : ',' }}
    {% endfor %}) {
{% if role | length > 0 %}
        $this->denyAccessUnlessGranted('{{ role }}');
{% endif %}
        $result = [];

        try {
            $data = $this->getSoapClient()->{{ function }}(
        {% for parameter in parameters %}
        ${{ parameter }}{{ loop.last ? '' : ',' }}
            {% endfor %});

            $result = (array) $data;
        } catch (\Exception $exception) {
            $this->logger->critical('SOAP failed!', [
                'request' => $this->getSoapClient()->__getLastRequest(),
                'response' => $this->getSoapClient()->__getLastResponse()
            ]);

            throw $exception;
        }

        return $result;
    }


{% endfor %}
}